.footer-container {
  background-color: #123c69;
  color: white;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  text-align: center;
}

.footer-container > p {
  margin-top: 25px;
}
