.foredrag-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-row-gap: 20px;
}

.foredrag-title {
  grid-column: 1/3;
}

.foredrag-left-paragraf {
  grid-column-start: 1;
}

.foredrag-right-paragraf {
  width: 100%;
  grid-column-start: 2;
}

.foredrag-image {
  max-width: 400px;
  justify-self: center;
}

/* Mobile and tablet specific styling */
@media all and (max-width: 890px) {
  .foredrag-grid {
    display: inline;
  }
}
