.kulturrejser-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.no-space-bottom {
  margin-bottom: 0;
}

.kulturrejser-program {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.kulturrejser-left-section,
.kulturrejser-right-section {
  display: flex;
  flex-direction: column;
}

.kulturrejser-image {
  align-self: center;
}

.kulturrejser-left-section {
  grid-column-start: 1;
}

.kulturrejser-right-section {
  grid-column-start: 2;
}

.kulturrejse-image {
  grid-row-start: 2;
  justify-self: center;
}

.kulturrejse-left {
  grid-row-start: 2;
}

/* Mobile and tablet specific styling */
@media all and (max-width: 890px) {
  .kulturrejser-container {
    display: flex;
    flex-direction: column;
  }
  .kulturrejser-program {
    display: inline;
  }

  .kulturrejser-image {
    width: 100%;
  }
}
