body {
  margin: 0;
}

.mobile-only {
  display: none;
}
/* Mobile and tablet specific styling */
@media all and (max-width: 890px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: inline;
  }
}
