.mobile-only {
  display: none;
}

/* Mobile and tablet specific styling */
@media all and (max-width: 890px) {
  .navbar-text:hover {
    color: grey;
  }

  .dekstop-only {
    display: none;
  }

  .mobile-only {
    display: inline;
  }
}
